body {
    background-color: azure;
    font-family: Roboto, sans-serif;
}

#screen {
    z-index: 0;
    width: 100vw;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    background-color: black;
    visibility: hidden;
}

/*   Maybe this is the right appraoch. With 12 cards, it will render 
// in even rows at 2, 3, 4nd 4 across. we can make sure 5 doesn't happen.*/
#board {
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

h1 {
    font-size: 45px;
}

.row {
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.card {
    border-radius: 20px;
    border: 25px;
    border-color: cadetblue;
    margin: 25px;   
    width: 250px;
    height: 150px;
}

.face-down {
    background-color: cadetblue;
}

.face-up {
    background-color: aliceblue;
    text-align: center;
    vertical-align: middle;
    color: darkslategray;
}

.face-up p {
    width: 100%;
    visibility: visible;
}

.face-down p {
    visibility: hidden;
}

.matched {
    background-color: darkgrey;
    text-align: center;
    vertical-align: middle;
    color: darkslategray;
    filter: saturate(25%);
}

.modal {
    visibility: hidden;
    position: absolute;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    top: 35%;
    background-color: white;
    border-radius: 20px;
    border: 15px;
    border-color: darkcyan;
    margin: 25px;   
    width: 230px;
    height: 190px;
}

.reset {
    
}
