html {
    height: 100%;
}

body {
    background-color: azure;
    font-family: Roboto, sans-serif;
    height: 100%;
    display: block;
}

#main {
    align: middle;
}

.screen-darkener {
    z-index: 0;
    width: 100vw;
    opacity: 0.7;
    position: absolute;
    background-color: black;
}

#board {
    margin: auto;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

h1 {
    font-size: 45px;
    color: #005A64;
}

.controls {
    color: #005A5F;
}

.card {
    border: 25px;
    border-color: cadetblue;
    padding: 15px;
}

.face-down {
    background-color: cadetblue;
}

.face-up {
    background-color: aliceblue;
    text-align: center;
    vertical-align: middle;
    color: darkslategray;
}

.face-up p {
    width: 100%;
    visibility: visible;
}

.face-down p {
    visibility: hidden;
}

.matched {
    background-color: darkgrey;
    text-align: center;
    vertical-align: middle;
    color: darkslategray;
    filter: saturate(25%);
}

.modal {
    position: absolute;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    top: 35%;
    background-color: white;
    border-radius: 20px;
    border: 15px;
    border-color: darkcyan;
    margin: 20px;   
    width: 250px;
    height: 140px;
    padding: 25px;
}

button {
    border-radius: 6px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    background-color:white;
    color: darkcyan;
}

#reset2 {
    border-radius: 6px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    background-color:white;
    color: darkcyan;
}

/*  Breakpoints and styling that maintain 
    a consistent look for the cards and 
    game board at all screen sizes, while
    scaling up a little to make use of increased 
    screen space.
 
    Ratio of card width+padding to height+padding
    is 1.48.
  
    Ratio of card width+padding to border-radius
    is 4.8.

    Ratio of card width+padding to margin is 19.2. 



*/
@media screen and (max-width: 517px) {
    #board {
        width: 320px;
    }
    
    .card {
        border-radius: 20px;
        width: 66px;
        margin: 5px;
        height: 35px;
    }
    
}

@media screen and (min-width: 518px) and (max-width: 893px) {
    #board {
        width: 518px;
    }
    
    .card {
        border-radius: 32px;
        width: 126px;
        margin: 8px;
        height: 76px;
    }
}

@media screen and (min-width: 894px) {
    #board {
        width: 894px;
    }
    
    .card {
        border-radius: 56px;
        width: 240px;
        margin: 14px;
        height: 153px;
    }
}